*{
    font-family: poppins;
}

main{
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.cv-container {
    background-color: rgba(255, 255, 255, 0.6) !important; 
    height: 100%;
    backdrop-filter: blur(7px);
    border-radius: 25px;
    overflow: hidden;
}

.left{
    padding-top:5px;
    background-color: rgba(255, 255, 255, 0.1);
    background-size: 100% 100%;
    backdrop-filter: blur(1px);
}

@media (max-width: 991px) {
    .left {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }